@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

:root {
  --soft-cyan: hsl(174, 77%, 80%);
  --strong-cyan: hsl(174, 86%, 45%);
  --light-grayish-red: hsl(14, 92%, 95%);
  --light-red: hsl(15, 100%, 70%);
  --pale-blue: hsl(226, 100%, 87%);
  --white: hsl(0, 0%, 100%);
  --very-pale-blue: hsl(230, 100%, 99%);
  --faint-blue-slider: hsl(224, 65%, 95%);
  --faint-blue-toggle: hsl(223, 50%, 87%);
  --gray-blue: rgb(133, 143, 173);
  --dark-blue: hsl(227, 35%, 25%);
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: center;
  background-color: var(--white);
  background-image: url("/src/images/bg-pattern.svg");
  background-size: auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Manrope", sans-serif;
}

.wrapper {
  width: 100%;
  margin-top: 6rem;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 1rem;
  background-size: 12rem;
  background-image: url("https://digitshack.com/codepen/mentor5/pattern-circles.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.header__title {
  color: var(--dark-blue);
  font-size: 2rem;
}

.header__subtitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: lighter;
  font-size: 17px;
  color: var(--gray-blue);
}

.wrapper__top--sub {
  white-space: nowrap;
}

.card {
  background: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  width: 35rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 6px 20px 0px rgb(210, 215, 231);
}

.card__header__grid {
  display: flex;
  flex-direction: column;
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

.text-muted {
  font-size: 17px;
  color: var(--gray-blue);
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.card__header {
  padding: 4rem;
  text-align: center;
}

.card__header__price {
  white-space: nowrap;
  color: var(--dark-blue);
  font-size: 40px;
  font-weight: 800;
}

.card__header__price-month {
  display: inline-block;
  color: var(--gray-blue);
  font-size: 20px;
}

.discount {
  display: inline-block;
  color: var(--light-red);
  background-color: var(--light-grayish-red);
  font-size: 13px;
  padding: 3px 6px;
  border-radius: 30px;
}

.card__slider-container {
  text-align: center;
}

.range-slider-bar {
}

.slider {
  appearance: none;
  background-color: var(--soft-cyan);
  height: 10px;
  border-radius: 5px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-image: url("src/images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--strong-cyan);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  cursor: pointer;
}
* .slider::-moz-range-thumb {
  width: 20rem;
  height: 20rem;
  background-color: var(--strong-cyan);
  cursor: pointer;
}
.slider::-webkit-slider-thumb:hover {
  box-shadow: 0px 0px 15px var(--strong-cyan);
}

.range-slider-bar input[type="range"] {
  width: 100%;
}

/* toggle box */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}

/* hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* toggle switch */
.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--faint-blue-toggle);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: var(--white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .toggle {
  background-color: var(--soft-cyan);
}

input:checked + .toggle:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.toggle.round {
  border-radius: 34px;
}

.toggle.round:before {
  border-radius: 50%;
}

.billing {
  color: var(--gray-blue);
  padding: 0.5rem;
}

.hr {
  width: 80%;
  display: block;
  margin: auto;
  border-top: var(--gray-blue);
}

.card__footer {
  padding: 1.5rem;
}

.check {
  color: var(--gray-blue);
}

.card__footer--button {
  padding: 1.5rem;
}

.button {
  background-color: var(--dark-blue);
  border: none;
  color: var(--pale-blue);
  padding: 15px 65px;
  text-align: center;
  border-radius: 30px;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  color: white;
}

.desktop-only {
  display: none;
}

@media only screen and (min-width: 1000px) {
  .mobile-only {
    display: none;
  }

  .desktop-only {
    display: inline;
  }

  .card__header {
    text-align: left;
  }


  body {
    background-size: contain;
  }

  .card {
    width: 50rem;
  }

  .card__header__grid {
    display: grid;
    grid-template-areas:
      "pageviews price"
      "slider slider";
    margin-bottom: 0;
  }

  .card__header__pageviews {
    grid-area: pageviews;
  }
  .card__header__price {
    grid-area: price;
  }
  .card__slider-container {
    grid-area: slider;
  }

  .card__slider-container {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  .wrapper__top--sub {
    font-size: 0;
  }

  .card__header__pageviews {
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--gray-blue);
    letter-spacing: 0.1em;
    text-align: left;
  }

  .card__header__price {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .slider::-webkit-slider-thumb {
    width: 4rem;
    height: 4rem;
  }

  .card__slider-container {
  }
  .card__footer {
    display: grid;
    grid-template-areas: "card__footer--text card__footer--button";
  }

  .flex-center {
    display: flex;
    justify-content: center;
  }

  .card__toggle {
    font-size: 20px;
  }

  .billing {
  }

  .discount {
    display: inline-block;
    color: var(--light-red);
    background-color: var(--light-grayish-red);
    font-size: 18px;
    padding: 5px 13px;
    border-radius: 30px;
    position: absolute;
  }

  .card__footer--text {
    text-align: left;
    padding-left: 2rem;
    font-size: 20px;
  }
  .card__footer--button {
    padding-top: 3rem;
  }
  .button {
    font-size: 18px;
    padding: 20px 80px;
  }
}
