@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&family=Spartan:wght@400;500;700&display=swap");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  background-color: white;
  background-image: url(/src/images/bg-pattern.svg);
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
}

.wrapper {
  text-align: center;
  width: 100%;
  max-width: 75rem;
}

/* .wrapper__top {
}

.wrapper__top--subtitle {
}

.wrapper__bottom .card {
}
.card__header {
}
.card__header-pageviews {
}
.card__header-price {
} */

.card__slider-container {
  text-align: center;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

/* .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  background: #04aa6d;
  cursor: pointer;
} */

/* .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
} */

/* 